/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
  overflow-x: hidden;
}

/* Animations */
.fade-in {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Navbar */
.navbar {
  padding: 1rem 0;
  background-color: #32445d !important;
  box-shadow: none !important;
  font-size: 18px;
  font-weight: 500;
}

.navbar-brand {
  font-size: 1.8rem;
  color: #2A4365 !important;
}

.navbar a {
  color: #ffffff !important;
}

/* Hero Section */
.hero-section {
  background-image: url('../images/hero-bg.webp'); 
  background-size: cover;
  background-position: center;
  background-color: #f8f9fa;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section h1, .hero-section p {
  color: #ffffff;
}

.live-text {
  font-size: 3rem;
  font-weight: bold;
  color: #343a40;
}

.cursor {
  border-left: 2px solid #343a40;
  animation: blink 0.8s steps(1) infinite;
}

/* Services Section */
#services h2 {
  font-size: 48px;
  font-weight: bold;
  background-image: linear-gradient(to right, #009eb4, #32445d);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#services p {
  line-height: 1.5;
  min-height: 60px;
  margin-bottom: 0;
  text-align: justify;
}

.service-image {
  height: 150px;
  width: 150px;
}

.card { height: 100%; }

.card h5 { 
  color: #2A4365; 
  margin-bottom: 15px;
}

.card p {
  color: #4A5568;
  min-height: 80px;
  text-align: justify;
  line-height: 1.6;
}

/* About Us Section (DUPLICATED CODE - FIX LATER)*/
#about h2 { 
  color: #2A4365; 
  max-width: 650px; 
  margin:0 auto;
  font-size: 48px;
  font-weight: bold;
  background-image: linear-gradient(to right, #009eb4, #32445d);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#about p { color: #4A5568; }

/* 
APP PAGE LAYOUT
*/

.wrapper {
  display: flex;
}

.side-menu {
  min-height: 100vh;
  background-color:  #4e73df;
  background-image: linear-gradient(180deg,#4e73df 10%,#224abe 100%);
  background-size: cover;
  color: #ffffff !important;
}

.side-menu a {
  color: #ffffff !important;
}

.content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
}
