.btn {
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-blue-rounded {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-blue-rounded:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* 1.14 Inputs */
.form-group {
  margin-bottom: 1.5rem;
  width: 100%;
}

.form-control {
  border: 1px solid #ccc;
}

input,
textarea {
  border: 2px solid #ccc;
  transition: border-color 0.3s ease-in-out;
}

input:focus,
textarea:focus {
  outline: none;
}

input.invalid,
textarea.invalid {
  border-color: red !important;
}

input.valid,
textarea.valid {
  border-color: green !important;
}


label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

textarea {
  resize: vertical;
  min-height: 150px;
}